* {
  margin: 0;
}

.my-box-shadow {
    -webkit-box-shadow: 8px 9px 15px 3px rgba(0,0,0,0.59); 
    box-shadow: 8px 9px 15px 3px rgba(0,0,0,0.59) !important;
}
.contact-input input, .contact-input label,.contact-input div::after,.contact-input div::before{
  color:white !important;
  border-bottom-color: white !important;
}